<h1>Quizz List</h1>


<table>
  <tr>
    <th>Title</th>
    <th colspan="3"> </th>
  </tr> 
  <% for quizz in @quizzs %>
  <tr>
    <td><%= quizz.title %></td>
    <td><%= link_to 'Show', quizz_path(quizz) %></td>
    <td><%= link_to 'Edit', edit_quizz_path(quizz) %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'New Quizz', new_quizz_path %>
